<ul class="steps list-inline">
<li class="step active">
<span class="step-number">1</span>
<span class="step-text hidden-xs">Адреса</span>
</li>
<li class="step-divider"></li>
<li class="step active">
<span class="step-number">2</span>
<span class="step-text hidden-xs">Доставка</span>
</li>
<li class="step-divider"></li>
<li class="step active">
<span class="step-number">3</span>
<span class="step-text hidden-xs">Вибір оплати</span>
</li>
<li class="step-divider"></li>
<li class="step active">
<span class="step-number">4</span>
<span class="step-text hidden-xs">Підтвердження</span>
</li>
<li class="step-divider"></li>
<li class="step active">
<span class="step-number">5</span>
<span class="step-text hidden-xs">Завершено</span>
</li>
</ul>

<% if @user.orders.any? %>

<div class="text-center mb-40">
<h3 class="general-subtitle">Дякуємо за Ваше замовлення!</h3>
<p class="fw-300">Інформація щодо Вашого замовлення надіслана адміністратору</p>
</div>

<div class="row mb-20">
<div class="col-sm-6">
<div class="visible-xs">
<p class="general-order-number mb-0"><%= @user.orders.last.number %></p>
<p class="general-address mb-30"><%= @user.orders.last.updated_at.time %></p>
</div>
<p class="general-address"><%= @user.orders.last.order_billing.first_name + " " + @user.orders.last.order_billing.last_name %><br><%= @user.orders.last.order_billing.addressing %><br><%= @user.orders.last.order_billing.city %><br><%= @user.orders.last.order_billing.country %><br><%= @user.orders.last.order_billing.phone %></p>
</div>
<div class="col-sm-6 hidden-xs text-right">
<p class="general-order-number mb-0"><%= @user.orders.last.number %></p>
<p class="general-address mb-30"><%= @user.orders.in_queue.last.updated_at.time %></p>
</div>
</div>

<table class="table table-hover hidden-xs">
<tbody><tr class="no-hover">
<th class="col-pic pl-0">
<span class="in-grey-600">Продукт</span>
</th>
<th class="col-title"></th>
<th class="col-price">
<span class="in-grey-600">Ціна</span>
</th>
<th class="col-quantity">
<span class="in-grey-600">Кількість</span>
</th>
<th class="col-total">
<span class="in-grey-600">Усього</span>
</th>
<th class="col-close"></th>
</tr>

  <% @user.orders.last.order_items.each do |order_item| %>
    <%= render 'orders/order', book: order_item.book, order_item: order_item, show_total: true %>
  <% end %>
</tbody></table>

<div class="visible-xs">
  <% @user.orders.last.order_items.each do |order_item| %>
    <%= render 'orders/mobile_order', book: order_item.book, order_item: order_item, show_total: true %>
  <% end %>  
</div>

  <div class="col-sm-12">
<div class="general-text-right">
<p class="in-gold-500 font-18">Замовлення на суму</p>
<table class="general-summary-table general-summary-table-right general-text-right">
<tbody><tr>
<td>
<p class="font-16">Без доставки:</p>
</td>
<td>
<p class="font-16"><%= number_to_grn current_user.orders.last.order_items.collect { |oi| oi.valid? ? (oi.quantity * oi.unit_price) : 0 }.sum %></p>
</td>
</tr>
<tr>
<td>
<p class="font-16">Доставка:</p>
</td>
<td>
<p class="font-16"><%= number_to_grn current_user.orders.last.delivery.price %> </p>
</td>
</tr>
<tr>
<td>
<strong class="font-18">Усього:</strong>
</td>
<td>
<strong class="font-18"><%= number_to_grn current_user.orders.last.subtotal %></strong>
</td>
</tr>
</tbody></table>
</div>

</div>

<% else %>
<div class="text-center mb-40">
<h3 class="general-subtitle">Нема заказів</h3>
<p class="fw-300">У Вас немає завершених замовлень. Щоб завершити замовлення, пройдіть усі 4 етапи правильно.</p>
</div>
<% end %>
