<tr>
<td>
<div class="general-img-wrap-table">
<% if book.book_attachments.any? %>
  <%= image_tag book.book_attachments.first.photo.url, class: "cart-img-shadow pull-left width-full" %>
  <% else %> 
<%= image_tag 'cover_default.png', class: "cart-img-shadow pull-left width-full" %>
<% end %>
</div>
</td>
<td>
<p class="general-title"><%= book.title %></p>
</td>
<td>
<span class="font-16 in-gold-500"><%= number_to_grn order_item.unit_price %></span>
</td>
<td>
<p class="general-position">
<%= order_item.quantity %>
</p>
</td>
<td>
<span class="font-16 in-gold-500"><%= number_to_grn order_item.total_price %></span>
</td>
<td>
</td>
</tr>