<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    Поки що у кошику нічого немає. Будь ласка, <%= link_to "перейдіть на головну", root_path %> і додайте до кошику товари.
  </p>
<% else %>
<h1 class="general-title-margin">Кошик</h1>
<%= form_for @order do |f| %>
<table class="table table-hover hidden-xs">
<tbody><tr class="no-hover">
<th class="col-pic pl-0">
<span class="in-grey-600">Товар</span>
</th>
<th class="col-title"></th>
<th class="col-price">
<span class="in-grey-600">Ціна</span>
</th>
<th class="col-quantity">
<span class="in-grey-600">Кількість</span>
</th>
<th class="col-total">
<span class="in-grey-600">Усього</span>
</th>
<th class="col-close"></th>
</tr>

  <% @order_items.each do |order_item| %>
  <%= f.simple_fields_for :order_items, order_item do |oi| %>
    <%= render 'orders/cart_row',oi: oi, book: order_item.book, order_item: order_item, show_total: true %>
    <% end %>
  <% end %>
</tbody></table> 

<div class="visible-xs">
  <% @order_items.each do |order_item| %>
  <%= f.simple_fields_for :order_items, order_item do |oi| %>
    <%= render 'orders/mobile_cart_row',oi: oi, book: order_item.book, order_item: order_item, show_total: true %>
    <% end %>
  <% end %>  
</div>

<div class="general-order-wrap">
<div class="row">
<div class="col-sm-4">
<div class="form-group general-input-group">
<label class="control-label" for="coupon_code">Введіть свій купон на знижку</label>
</div>
<div class="mb-20">
<%= f.text_field :coupon, class: "form-control" %>
</div>
<%= f.submit "Оновити", class: 'btn btn-primary mt-30 mb-15 res-block' %>
<% end %>
</div>
<div class="col-sm-8">
<div class="general-text-right">
<p class="in-gold-500 font-18">Замовлення на суму</p>
<table class="general-summary-table general-summary-table-right general-text-right">
<tbody><tr>
<td>
<p class="font-16">Без доставки:</p>
</td>
<td>
<p class="font-16"><%= number_to_grn @order_items.collect { |oi| oi.quantity * oi.unit_price }.sum %></p>
</td>
</tr>
<tr>
<td>
<p class="font-16">Купон:</p>
</td>
<td>
<p class="font-16">-<%= number_to_grn current_order.coupon_price %></p>
</td>
</tr>
<tr>
<td>
<p class="font-16">Доставка:</p>
</td>
<td>
<p class="font-16"><%= number_to_grn current_order.delivery.price %> </p>
</td>
</tr>
<tr>
<td>
<strong class="font-18">Усього:</strong>
</td>
<td>
<strong class="font-18"><%= number_to_grn current_order.subtotal %></strong>
</td>
</tr>
</tbody></table>
</div>

</div>
</div>
<%= link_to checkouts_address_path do %>
  <button class="btn btn-default mb-20 center-block">Зробити замовлення</button>
<% end %>
</div>

<% end %>
