<div class="well">

  <div class="row">
    <div class="col-xs-8">
      <h4><%= link_to book.title, book_path(book) %></small></h4>
    </div>
    <%= book.description %>
    <div class="col-xs-4">

<% if book.book_attachments.any? %>
  <% book.book_attachments.each do |photo| %>
  <%= image_tag photo.photo.url %>
<% end %>
  <% else %> 
<%= image_tag 'cover_default.png' %>
<% end %>

      <%= form_for order_item, remote: true do |f| %>
      <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_grn book.price %></span></h4>
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          
          <div class="input-group-btn">
            <%= f.hidden_field :book_id, value: book.id %>
            
            <%= f.submit "Додати у кошик", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>