.row
  .col-sm-5
    .general-img-wrap.hidden-xs
      = image_tag (book.book_attachments.first.photo.thumb_main_page.file.exists? ? book.book_attachments.first.photo.url(:thumb_main_page) : book.book_attachments.first.photo.url(:thumb) ), alt: book.title,
        class: 'img img-shadow general-thumbnail-img'
    .visible-xs
      = image_tag (book.book_attachments.first.photo.thumb_main_page.file.exists? ? book.book_attachments.first.photo.url(:thumb_main_page) : book.book_attachments.first.photo.url(:thumb) ), alt: book.title,
        class: 'img img-shadow general-thumbnail-img'
  .col-sm-6{style: "padding-left: 10%;"}
    .mb-60
      %h1= book.title
      %p.lead.book-description.text-justify= truncate book.description, length: 400
      %p.in-grey-600.small
        - book.authors.each do |author|
          = author == book.authors.last ? author.name : author.name + ","
      .general-align.pt-20
        = form_for @order_item, remote: true do |f|
          = f.hidden_field :quantity, value: 1
          = f.hidden_field :book_id, value: book.id
          = f.hidden_field :unit_price, value: book.prices.first.price
          = f.hidden_field :unit_weight, value: book.weight
          = f.submit "Купити зараз", class: "btn btn-default"
