<% if Book.any? %>
<%= render "carousel" %>
<% end %>

<div class="jumbotron text-center mb-0">
<h2 class="h1">Ласкаво просимо до нашого чудового магазину!</h2>
<div class="mb-res-50">
<p class="in-grey-600">Кожного місяця ми маємо справу з сотнями нових текстильних товарів і вибираємо п'ять найкращих, щоб поділитися з нашими клієнтами.</p>
</div>
<%= link_to "Ознайомитись з каталогом", categories_path, class: 'btn btn-default' %>
</div>
<div class="mb-35">
<h3>Популярні</h3>
<div class="row">
<% @sorted_books.first(4).each do |book| %>
<div class="col-sm-6 col-md-3">
<div class="general-thumb-wrap">
<div class="thumbnail general-thumbnail">
<% if book.book_attachments.any? %>

  <%= image_tag book.book_attachments.first.photo, class: "img-shadow general-thumbnail-img" %>

  <% else %> 
<%= image_tag 'cover_default.png', class: "img-shadow general-thumbnail-img" %>
<% end %>
<div class="thumb-hover">
<div class="general-thumb-link-wrap">
<%= link_to book_path(book), class: "thumb-hover-link" do %><i aria-hidden="true" class="fa fa-eye thumb-icon"></i> <% end %> 
<%= link_to({controller: 'order_items', action: "create", order_item: {quantity: 1, book_id: book.id, unit_price: book.prices.first, unit_weight: book.weight}}, class: 'thumb-hover-link', method: :post, remote: true) do %>
<i class="fa fa-shopping-cart thumb-icon"></i> <% end %>
</div>
</div>
</div>
</div>
<div class="general-thumb-info">
<p class="title"><%= book.title %></p>
<p class="pull-right"> <%= book.prices.count > 1 ? book.prices.first.size + " та інші розміри" : book.prices.first.size %></p>
<p class="font-16 in-gold-500"><%= number_to_grn book.prices.first.price %></p>
<span class="divider-sm"></span>
<p class="in-grey-600 small">
<% book.authors.each do |author| %>
<%= author == book.authors.last ? author.name : author.name + "," %>
<% end %>
</p>
</div>
</div>
<% end %>
</div>
