<%= link_to :back, class: 'general-back-link' do %>
<i class="fa fa-long-arrow-left mr-15"></i>
Назад до результатів
<% end %>
<div class="row"> 
<div class="col-sm-6">
<div class="product-gallery">
<div class="mb-20">
<% if @book.book_attachments.any? %>
<div id="popup" class="mb-20">
  <%= image_tag @book.book_attachments.first.photo.url(:watermarked), class: "img-responsive img-shadow" %>
</div>
<div class="images clearfix">

<% @book.book_attachments.each do |asset| %>
       <%= link_to asset.photo.url, class: :popup_link, target: :_blank do %>
         <%= image_tag asset.photo.url(:thumb), class: "width-full"  %>
       <% end %>
      
<% end %>



</div>
<script type="text/javascript">
  $(document).ready(function() {
     $(".popup_link").click(function(e) {
        e.preventDefault();
        $("#popup").html( $('<img>').attr('src', this.href));
        $("#popup img").addClass("img-responsive img-shadow");  
     });
  });

</script>

  <% else %> 
<%= image_tag 'cover_default.png', class: "img-responsive img-shadow" %>
<% end %>
</div>
</div>
</div>
<div class="col-sm-6">
<h1 class="mt-res-0"><%= @book.title %></h1>
<p class="in-grey-600 small"></p>
<div class="row">
<div class="col-xs-12 col-md-4">
<p class="h1 in-gold-500 mt-10", id="priceOrderItem"><%= number_to_grn @book.prices.first.price unless @book.prices.first == nil %></p>
</div>



<%= form_for @book.order_items.new, remote: true do |f| %>
<div class="col-xs-5 col-md-3">
<div class="input-group general-position">
  <% unless @book.prices.first == nil %>
<a class="input-link" onclick="decrementValue()" >
<i class="fa fa-minus line-height-40"></i>
</a>
<%= f.text_field :quantity, value: 1, class: "form-control quantity-input", id: "quantity" %>
<a class="input-link" onclick="incrementValue()">
<i class="fa fa-plus line-height-40"></i>
</a>
<% end %>
</div>
</div>
<%= f.hidden_field :book_id, value: @book.id %>

<% unless @book.prices.first == nil %>
<%= f.collection_select :unit_price, @book.prices, :price, :size, options = {include_blank: false}, html_options = {class: "country required form-control", onchange: "updateTextArea(this.value)"} %>
<% else %>
Ціни і розміри поки що не додано    
<% end %>

<%= f.hidden_field :unit_weight, value: @book.weight %>

<% if user_signed_in? %>
<% if current_user.admin? || current_user.manager? %>
<div style="margin-top: 3%;">
<% unless @book.prices.first == nil %>
<% @book.prices.each do |price|%>
<p>
<%= link_to "#{price.size} #{price.price} видалити", price_path(price), method: :delete, data: { confirm: 'Ви дійсно хочете видалити розмір та ціну?' }  %>
</p>
<% end %>
<% end %>
</div>
<% end %>
<% end %>

<script>
function updateTextArea(source){
 var variable = source;
 $("#priceOrderItem").html(variable +" грн");
  if (variable.slice(-2) == ".0") {
   $("#priceOrderItem").html(variable +"0 грн");
 };
}
</script>

<div class="col-xs-7 col-md-5">
<%= f.submit "Купити зараз", class: "btn btn-default pull-right general-position", disabled: (@book.available == false || @book.prices.first == nil) %>
</div>
<% end %>
</div>

<% if (signed_in? && current_user.admin?) || (signed_in? && current_user.manager?) %>
       <div class="col-sm-6">
    <div class="form-group">

    <%= form_for(@book.prices.new, url: {controller: "prices", action: "create"}) do |price| %>
    <%= price.number_field :price, class: "form-control mb-20", step: 0.01, placeholder: "Ціна", cols: "20", rows: "5" %>
    <%= price.text_field :size, class: "form-control mb-20", placeholder: "Розмір", cols: "20", rows: "5" %>
    <%= price.hidden_field :book_id, value: @book.id %> 
    <%= price.submit "Додати новий розмір", class: "btn btn-primary" %>
    <% end %>
        </div>
       </div>
       <div class="col-sm-6">
    <div class="form-group">

    <%= form_for(@book.authors.new, url: {controller: "authors", action: "create"}) do |author| %>
    <%= author.text_field :name, class: "form-control mb-20", placeholder: "Назва", cols: "20", rows: "5" %>
    <%= author.hidden_field :book_id, value: @book.id %> 
    <%= author.submit "Додати виробника", class: "btn btn-primary" %>
    <% end %>
        </div>
       </div>

<% end %>

<div class="clearfix">

</div>

<div class="general-info-wrap divider-lg">
<p>Опис</p>
<p class="in-grey-600 small line-height-2" >
  <% if @book.description.length > 250 %>
    <%= truncate(@book.description, length: 250) %>
    <%= link_to '...дивитися більше', '', class: "read-more-#{@book.id}" %>
    <script>
      $('.read-more-<%= @book.id %>').on('click', function(e) {
        e.preventDefault()
        $(this).parent().html('<%= escape_javascript @book.description %>')
      })
    </script>
  <% else %>
    <%= @book.description %>
  <% end %>
</p>
</div>
<div class="general-info-wrap divider-lg">
<div class="clearfix">
<p class="pull-left">Дата виробництва</p>
<p class="in-grey-600 small pull-right"><%= @book.year_of_publication %></p>
</div>
</div>
<div class="general-info-wrap divider-lg">
<div class="clearfix">
<p class="pull-left">Доступність</p>
<p class="in-grey-600 small pull-right"><%= @book.state %></p>
</div>
</div>
<div class="general-info-wrap divider-lg">
<div class="clearfix">
<p class="pull-left">Матеріали</p>
<p class="in-grey-600 small pull-right"><%= @book.materials %></p>
</div>
</div>
</div>
</div>


<div class="mb-80">
<h3 class="in-gold-500 mb-25">Оцінки товару (<%= @book.reviews.approved.size %>)</h3>
<ul class="media-list">
<% @book.reviews.approved.each do |review| %>
<li class="media card">
<div class="media-left">

<% if review.user.image.nil? %>
<span class="img-circle logo-size logo-empty media-object">
<% if !review.user.first_name.nil? %>
<%= review.user.first_name.first.capitalize %>
<% else %>
U
<% end -%>
</span>
<% else %>
<%= image_tag review.user.image, class: "img-circle logo-size logo-empty media-object" %>
<% end %>

</div>

<div class="media-body">
<div>
<p class="general-message-date hidden-xs">
<%= review.updated_at.year %>-
<%= review.updated_at.month %>-
<%= review.updated_at.day %>	
</p>
<h4 class="media-heading max-240 general-message-name">
<% if review.user.first_name.nil?  %>
К
<% else %>
<%= review.user.first_name %>
<% end %>
</h4>
</div>
<div class="mb-15">
<% review.rate.times do %>
<i class="fa fa-star rate-star"></i>
<% end %>
<% (5 - review.rate).times do %>
<i class="fa fa-star rate-star rate-empty"></i>
<% end %>
</div>
<p><%= review.title %></p>
<p><%= review.text_of_review %></p>
</div>
</li>
<% end %>
</ul>
</div>

  <div class="col-md-6 col-lg-offset-3"> 
  <%= render 'reviews/form' %>
 </div>

  <script>
	function incrementValue()
{
    var value = parseInt(document.getElementById('quantity').value, 10);
    value = isNaN(value) ? 0 : value;
    value++;
    document.getElementById('quantity').value = value;
}

	function decrementValue()
{
    var value = parseInt(document.getElementById('quantity').value, 10);
    value = isNaN(value) ? 0 : value;
    value--;
    document.getElementById('quantity').value = value;
}

</script>
