
  <%= simple_fields_for "#{type}" do |s| %>
    <%= s.simple_fields_for :address do |a| %>
      <%= a.hidden_field :addressable_type, value: "order_#{type}" %>
      <%= a.hidden_field :addressable_id, value: order.id %>


      <div class="<%= ('has-error' if order.errors.messages[:"#{type}"].each{|msg| msg}.join.include? "First") %> form-group">
        <%= a.input :first_name, label: "Ім’я", input_html: {value: ( params[:"#{type}"].nil? ? (!user.authentications.any? ? fill_address(user, order, type, :first_name) : user.authentications.last.params[:info][:first_name]) : params[:"#{type}"][:address][:first_name] ), class: 'form-control' } %>
          <span class="help-block">
     <% order.errors.messages[:"#{type}"].each do |msg| %>
  <p> <%= msg if msg.include? "First" %> </p>
     <% end %>
  </span>
</div>

      <div class="<%= ('has-error' if order.errors.messages[:"#{type}"].each{|msg| msg}.join.include? "Last") %> form-group">
        <%= a.input :last_name, label: "Фамилія", input_html: { value: ( params[:"#{type}"].nil? ? (!user.authentications.any? ? fill_address(user, order, type, :last_name) : user.authentications.last.params[:info][:last_name]) : params[:"#{type}"][:address][:last_name] ), class: 'form-control' } %>
          <span class="help-block">
     <% order.errors.messages[:"#{type}"].each do |msg| %>
  <p> <%= msg if msg.include? "Last" %> </p>
     <% end %>
  </span>
</div>
    
      <div class="<%= ('has-error' if order.errors.messages[:"#{type}"].each{|msg| msg}.join.include? "Address") %> form-group">
        <%= a.input :addressing, label: "Адреса", input_html: { value: ( params[:"#{type}"].nil? ? fill_address(user, order, type, :addressing) : params[:"#{type}"][:address][:addressing]), class: 'form-control' } %>
          <span class="help-block">
     <% order.errors.messages[:"#{type}"].each do |msg| %>
  <p> <%= msg if msg.include? "Address" %> </p>
     <% end %>
  </span>
</div>

      <div class="<%= ('has-error' if order.errors.messages[:"#{type}"].each{|msg| msg}.join.include? "City") %> form-group">
        <%= a.input :city, label: "Місто", input_html: { value: ( params[:"#{type}"].nil? ? fill_address(user, order, type, :city) : params[:"#{type}"][:address][:city]), class: 'form-control' } %>
          <span class="help-block">
     <% order.errors.messages[:"#{type}"].each do |msg| %>
  <p> <%= msg if msg.include? "City" %> </p>
     <% end %>
  </span>
</div>

      <div class="<%= ('has-error' if order.errors.messages[:"#{type}"].each{|msg| msg}.join.include? "Zipcode") %> form-group">
        <%= a.input :zipcode, label: "Поштовий індекс", input_html: { value: ( params[:"#{type}"].nil? ? fill_address(user, order, type, :zipcode) : params[:"#{type}"][:address][:zipcode]), class: 'form-control' } %>
          <span class="help-block">
     <% order.errors.messages[:"#{type}"].each do |msg| %>
  <p> <%= msg if msg.include? "Zipcode" %> </p>
     <% end %>
  </span>
</div>    
      <div class="form-group">
          <div class="<%= ('has-error' if order.errors.messages[:"#{type}"].each{|msg| msg}.join.include? "Phone") %> form-group">
      <%= a.input :phone, label: "Телефон", input_html: { value: ( params[:"#{type}"].nil? ? fill_address(user, order, type, :phone) : params[:"#{type}"][:address][:phone]), class: 'form-control' }, placeholder: '+380971112233'%>
                <span class="help-block">
     <% order.errors.messages[:"#{type}"].each do |msg| %>
  <p> <%= msg if msg.include? "Phone" %> </p>
     <% end %>
  </span>
</div>
      </div>
    <% end %>
  <% end %>

  <script>
$(document).ready(function() {
  $("#<%= type %>_address_phone").mask("+999999999999");
});
  </script>

