

<h1 class="general-title-margin">Каталог</h1>
<div class="hidden-xs clearfix">
<div class="dropdown pull-right">
<a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle dropdown-btn width-240" data-toggle="dropdown" role="button">
<%= @filter_name %>
<i class="fa fa-angle-down dropdown-icon"></i>
</a>
<ul class="dropdown-menu">
<li><%= link_to('Спочатку нові', {controller: "categories", action: "index", filter: "newest"}) %></li>
<li><%= link_to('Спочатку популярні', {controller: "categories", action: "index", filter: "popular"}) %></li>
<li><%= link_to('Ціна: від низької до високої', {controller: "categories", action: "index", filter: "from low to high"}) %></li>
<li><%= link_to('Ціна: від високої до низької', {controller: "categories", action: "index", filter: "from high to low"}) %></li>
<li><%= link_to('Назва: А-Я', {controller: "categories", action: "index", filter: "from A to Z"}) %></li>
<li><%= link_to('Назва: Я-А', {controller: "categories", action: "index", filter: "from Z to A"}) %></li>
<li><%= link_to('Розмір: від малого до великого', {controller: "categories", action: "index", filter: "Size from smaller to bigger"}) %></li>
<li><%= link_to('Розмір: від великого до малого', {controller: "categories", action: "index", filter: "Size from bigger to smaller"}) %></li>
</ul>
</div>

<div class="dropdown pull-left mb-40">
<a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle dropdown-btn width-240" data-toggle="dropdown" role="button">
Обрати категорію
<i class="fa fa-angle-down dropdown-icon"></i>
</a>
<ul class="dropdown-menu">
<li class="mr-35">
<%= link_to("Усі<span class='badge general-badge'>#{Book.all.published.size}</span>".html_safe , categories_path, class: 'filter-link ') %>
</li>
<% @categories.each do |category| %>
<li class="mr-35">
<%= link_to category_path(category), class: 'filter-link' do %>
<%=category.name%><span class='badge general-badge'><%= category.books.published.size %></span>
<% end %>
</li>
<% end %>
</ul>
</div>
</div>

<div class="visible-xs mb-40">
<p class="in-grey-600 small mb-10">Фільтр за категорією</p>
<div class="dropdown mb-20">
<a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle dropdown-btn width-100" data-toggle="dropdown" role="button">
<%= @filter_name %>
<i class="fa fa-angle-down dropdown-icon"></i>
</a>
<ul class="dropdown-menu">
<li class="mr-35">
<%= link_to("Усі<span class='badge general-badge'>#{Book.all.size}</span>".html_safe , categories_path, class: 'filter-link ') %>
</li>
<% @categories.each do |category| %>
<li class="mr-35">
<%= link_to category_path(category), class: 'filter-link' do %>
<%=category.name%><span class='badge general-badge'><%= category.books.size %></span>
<% end %>
</li>
<% end %>
</ul>
</div>
<p class="in-grey-600 small mb-10">Sort by</p>
<div class="dropdown mb-20">
<a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle dropdown-btn width-100" data-toggle="dropdown" role="button">
<%= @filter_name %>
<i class="fa fa-angle-down dropdown-icon pull-right"></i>
</a>
<ul class="dropdown-menu">
<li><%= link_to('Спочатку нові', {controller: "categories", action: "index", filter: "newest"}) %></li>
<li><%= link_to('Спочатку популярні', {controller: "categories", action: "index", filter: "popular"}) %></li>
<li><%= link_to('Ціна: від низької до високої', {controller: "categories", action: "index", filter: "from low to high"}) %></li>
<li><%= link_to('Ціна: від високої до низької', {controller: "categories", action: "index", filter: "from high to low"}) %></li>
<li><%= link_to('Назва: А-Я', {controller: "categories", action: "index", filter: "from A to Z"}) %></li>
<li><%= link_to('Назва: Я-А', {controller: "categories", action: "index", filter: "from Z to A"}) %></li>
<li><%= link_to('Розмір: від малого до великого', {controller: "categories", action: "index", filter: "Size from smaller to bigger"}) %></li>
<li><%= link_to('Розмір: від великого до малого', {controller: "categories", action: "index", filter: "Size from bigger to smaller"}) %></li>
</ul>
</div>
</div>
<div id="books">
<% @sorted_books.each_slice(12) do |slice| %>
<div class="row">
<% slice.each do |book| %>
<div class="col-sm-6 col-md-3">
<div class="general-thumb-wrap">
<div class="thumbnail general-thumbnail">
<% if book.book_attachments.any? %>

  <%= image_tag book.book_attachments.first.photo, class: "img-shadow general-thumbnail-img" %>

  <% else %> 
<%= image_tag 'cover_default.png', class: "img-shadow general-thumbnail-img" %>
<% end %>
<div class="thumb-hover">
<div class="general-thumb-link-wrap">
<%= link_to book_path(book), class: "thumb-hover-link" do %><i aria-hidden="true" class="fa fa-eye thumb-icon"></i> <% end %>
<%= link_to({controller: 'order_items', action: "create", order_item: {quantity: 1, book_id: book.id, unit_price: book.prices.first.price}}, class: 'thumb-hover-link', method: :post, remote: true) do %>
<i class="fa fa-shopping-cart thumb-icon"></i> <% end %>
</div>
</div>
</div>
</div>
<div class="general-thumb-info">
<p class="title"><%= book.title %></p>
<p class="pull-right"> <%= book.prices.count > 1 ? book.prices.first.size + " та інші розміри" : book.prices.first.size %></p>

<p class="font-16 in-gold-500"><%= number_to_grn book.prices.first.price %></p>
<span class="divider-sm"></span>
<p class="in-grey-600 small">
<% book.authors.each do |author| %>
<%= author == book.authors.last ? author.name : author.name + "," %>
<% end %>
</p>
</div>

</div>

<% end %>
<% end %>
</div>
</div>

<div class="text-center mb-120" id="load_more_link">
	<%= link_to_next_page @sorted_books, 'Загрузити більше', remote: true, params: { filter: params[:filter] }, class: 'btn btn-primary' %>
</div>


